{% load static %}
<link rel="stylesheet" href="{% static 'petpaths/css/style.css' %}">

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Drone Routes - Mapa</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'petpaths/css/style.css' %}">
</head>
<body>
    <h1>Mapa - Trace sua Rota de Drone</h1>
    <div id="map" style="height: 600px;"></div>
    <button id="calc-route">Calcular Rota</button>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        const dangerZones = {{ zones|safe }};
    </script>
    <script src="{% static 'petpaths/js/map.js' %}"></script>
</body>
</html>
